@model Compras.Models.Unidades_de_medidas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Unidades_de_medidas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UnidadMedidaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
