@model Compras.Models.Proveedores

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>Seguro que quieres borrar esto?</h3>
<div>
    <h4>Proveedores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cedula_RNC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula_RNC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_comercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_comercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
