@model Compras.Models.Proveedores

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Proveedores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cedula_RNC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula_RNC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_comercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_comercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProveedorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
