@model IEnumerable<Compras.Models.Proveedores>

@{
    ViewBag.Title = "Index";
}

<h2>Inicio</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
                Cedula o RNC
        </th>
        <th>
            Nombre Comercial
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula_RNC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_comercial)
        </td>
        <td>
            @if ((bool)item.Estado)
            {
                <text>Activo</text>
            }
            else
            {
                <text>Inactivo</text>
            }
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ProveedorId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ProveedorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProveedorId })
        </td>
    </tr>
}

</table>
