@model IEnumerable<Compras.Models.View_GetOrdenCompra>

@{
    ViewBag.Title = "EnvioContabilidad";
}

<h2>Envio a Contabilidad</h2>
<br />

@using (Html.BeginForm("EnvioContabilidad", "Orden_de_compra"))
{
    <input class="btn btn-primary col-lg-2" type="submit" value="Enviar" />

}
<br />

<h1>@ViewBag.MensajeEnviado</h1>
<br />

<table class="table">
    <tr>
        <th>
            Fecha
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Articulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            Unidad de Medida
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enviado)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_orden)
            </td>
            <td>
                @if ((bool)item.Estado)
                {
                    <text>Activo</text>
                }
                else
                {
                    <text>Inactivo</text>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Articulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadMedida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>

                @if ((bool)item.Enviado)
                {
                    <text>Si</text>
                }
                else
                {
                    <text>No</text>
                }
            </td>

        </tr>
    }

</table>
